<app-header></app-header>
<div class="flex justify-center md:mt-20 items-center mb-10 md:mb-0">
  <div class="md:block flex flex-col  md:h-fit p-10 md:w-1/2 w-screen">
    <div>
      <h1 class="text-3xl">Escolas cadastradas</h1>
      <h1 class="text-xl font-light">Aqui você pode administrar as escolas do sistema.</h1>
      <div class="mt-2">
        <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input [(ngModel)]="pesquisarEscolas" (input)="verificarResultados()" type="text" class="p-2 rounded-2xl pe-20" pInputText placeholder="Pesquise uma escola..."/>
        </span>
      </div>
    </div>
    <div class="mt-4">
      <p-button icon="pi pi-plus" class="text-green-700 font-bold" label="Cadastrar Aluno"></p-button>
    </div>
    <div *ngIf="mostrarMensagemNenhumResultado" class="mt-4 w-fit">
      <p class="font-bold text-xl">Nenhum resultado foi encontrado...</p>
    </div>
    <p-dataView [value]="escolas" *ngIf="!mostrarMensagemNenhumResultado">
      <ng-template pTemplate="list">
        <div class="md:border-none border-[1px] border-b-black grid md:grid-cols-12 gap-4 border-t border-gray-200 p-4 bg-dexian-purple-light" *ngFor="let escola of escolas | filterEscola: pesquisarEscolas">
          <div class="md:flex hidden justify-center items-center">
            <p-avatar [label]="escola.sDescricao.at(0)" size="xlarge" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"></p-avatar>
          </div>
          <div class="col-span-9 flex flex-col justify-between font-bold">
            <div class="flex flex-col sm:flex-row gap-3 p-1">
              <div>
                <span>Identificação: </span>
                <span class="font-medium">{{ escola.iCodEscola }}</span>
              </div>
              <div class="flex gap-2">
                <span>Descrição: </span>
                <span class="font-medium">{{ escola.sDescricao }}</span>
              </div>
            </div>
            <div class="flex gap-2 p-2">
              <p-button class="me-3 text-yellow-700" icon="pi pi-pencil" label="Alterar"></p-button>
              <p-button class="text-red-700" icon="pi pi-trash" label="Excluir"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
<app-menu></app-menu>
